.container {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 12px;
	padding-bottom: 0;
	z-index: 2;

	.wheel {
		position: relative;
		display: flex;
		align-items: center;
		padding: 20px 16px 93px;
		gap: 16px;
		width: 100%;
		height: 100vh;
		border-radius: 18px 18px 0 0;
		background: linear-gradient(0deg, #1ca9f8 0%, #1462d6 100%);
		border-bottom: none;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			border-radius: 18px 18px 0 0;
			border: 4px solid rgba(255, 255, 255, 0.13);
			border-bottom: none;
			pointer-events: none;
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 120%;
			height: 120%;
			transform: translate(-50%, -50%);
			background: url('../../../public/assets/spin/stars.png') center/cover
				no-repeat;
		}

		&Ticket {
			position: absolute;
			top: 20px;
			right: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 60px;
			height: 60px;
			padding: 5px 3px;
			background: linear-gradient(180deg, #508bfc 0%, #0038ff 100%);
			border-radius: 12px;
			overflow: hidden;
			transition: scale 0.1s linear, background 0.2s linear;
			z-index: 10;

			&::after {
				content: '';
				position: absolute;
				inset: 0;
				border: 3px solid rgba(255, 255, 255, 0.62);
				border-radius: 12px;
				pointer-events: none;
			}

			&:active {
				scale: 0.9;
			}

			img {
				width: 44px;
				height: 44px;
			}
		}

		&GoBack {
			position: fixed;
			bottom: 0;
			left: 28px;
			right: 28px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 7px;
			height: 49px;
			font-size: 20px;
			border-radius: 16px 16px 0 0;
			background: linear-gradient(#5b9cff 0%, #2249d5 100%);
			z-index: 9;

			&::before {
				content: '';
				position: absolute;
				inset: 0;
				border-radius: 16px 16px 0 0;
				border: 2px solid rgba(131, 188, 229, 0.3);
				border-bottom: 0;
				pointer-events: none;
			}
		}
	}
}
